@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section Estilo
{
    <style>
        h1{
            background: red;
        }
    </style>
}


@section Scripts
{
    <script>
       
        $( document ).ready(function() {
            console.log( "Holaaa Prueba!" );
        });
    </script>
}
